<div class="widget">
  <form name="create-user-form" id="create-user-form" method="post">
    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" id="firstName" name="firstName" required value="{{input.firstName}}" />
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label>
      <input type="text" id="lastName" name="lastName" required value="{{input.lastName}}" />
    </div>
    <span style="color:red;">{{error}}</span>
  </form>
</div>